:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* colors */
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --active-primary-brand-color: #404bbf;
  --bg-color: #fff;
  --dark-color: #2e2f42;
  --dark-color-rgb: 46, 47, 66;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --light-slate: #8e8f99;
  --success: #31d0aa;
  --modal-background: #fcfcfc;

  /* transition */
  --trans-norm: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  display: block;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Special teg-style settings*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header {
  box-shadow: 0 1px 6px 0 rgba(var(--dark-color-rgb), 0.08),
    0 1px 1px 0 rgba(var(--dark-color-rgb), 0.16),
    0 2px 1px 0 rgba(var(--dark-color-rgb), 0.08);
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 76px;
  padding: 24px 0;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-span {
  color: var(--dark-color);
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--dark-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  transition: color var(--trans-norm);
  position: relative;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--active-primary-brand-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--trans-norm);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  display: block;
  padding: 24px 0;
  transition: color var(--trans-norm);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-list:focus,
.current {
  color: var(--active-primary-brand-color);
}

section {
  padding: 120px 0;
}

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(var(--dark-color-rgb), 0.7),
      rgba(var(--dark-color-rgb), 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--bg-color);
}

.hero-slogan {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-norm);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-primary-brand-color);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-list-pic {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--light-color);
}

.features-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.features-list-caption {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: var(--light-color);
}

.our-team-section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(var(--dark-color-rgb), 0.08),
    0 1px 1px 0 rgba(var(--dark-color-rgb), 0.16),
    0 1px 6px 0 rgba(var(--dark-color-rgb), 0.08);
  background: var(--bg-color);
}

.our-team-list-info {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.our-team-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.our-team-list-position {
  margin-bottom: 8px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--trans-norm);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-primary-brand-color);
}
.social-link-pic {
  fill: var(--light-color);
}

.our-portfolio-section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.our-portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow var(--trans-norm);
}

.our-portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(var(--dark-color-rgb), 0.08),
    0 1px 1px 0 rgba(var(--dark-color-rgb), 0.16),
    0 1px 6px 0 rgba(var(--dark-color-rgb), 0.08);
}

.our-portfolio-list-item:hover .our-portfolio-overlay {
  transform: translateY(0);
}

.our-portfolio-list-info {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  padding: 32px 16px;
}

.our-portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.our-portfolio-overlay {
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--trans-norm);
}

.our-portfolio-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.our-portfolio-list-caption {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.footer {
  padding: 100px 0;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-info-container {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  padding: 0;
}

.footer-logo-span {
  color: var(--light-color);
}

.footer-info {
  max-width: 264px;
  color: var(--light-color);
}

.social-links-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--bg-color);
}
.footer .social-links {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--success);
}

/* modal */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--dark-color-rgb), 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--trans-norm), visibility var(--trans-norm);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--modal-background);
  border-radius: 4px;
  transform: translate(-50%, -50%);

  transition: transform var(--trans-norm);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -150%) scale(2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  fill: var(--dark-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--trans-norm), background-color var(--trans-norm),
    boder var(--trans-norm);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--bg-color);
  background-color: var(--active-primary-brand-color);
  border: 1px solid transparent;
}

.modal-caption {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--dark-color);
}

.modal-form-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(var(--dark-color-rgb), 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 38px;
}
.modal-form-pic {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--dark-color);
}
.modal-form-textarea {
  margin-top: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(var(--dark-color-rgb), 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(var(--dark-color-rgb), 0.4);
}

.modal-form-send-btn {
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-norm);
}

.modal-form-send-btn:hover,
.modal-form-send-btn:focus {
  background-color: var(--active-primary-brand-color);
}
